# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [1]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [8]:
# Load data here
df = pd.read_csv('data/listings.csv', sep=',')
df.head()

NameError: name 'pd' is not defined

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
    * Count the amout of names each time appears.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`


Challenge:
* Listings with the word brownstone in the name (hint to come, might move this one later if needed)
    * hint... build a function to check for 'brownstone' and apply that function OR  `df.name.str.????`

In [45]:
# 1. How many listings are there with a price less than 100? 

LessPrice = df['price'] < 100
df[LessPrice]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46520,44804690,"Cozy place, peaceful, friendly and affordable.",362419479,Elia,Queens,St. Albans,40.69980,-73.77104,Private room,44,1,0,NaN,NaN,1,161
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38

In [49]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn of less than $100.

Condition_1 = df['df_bk'] = df['neighbourhood_group'] == 'Brooklyn'
LessPrice = df['price'] < 100
df[Condition_1 & LessPrice]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,df_bk
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,True
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,True
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344,True
21,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,3,75,2019-10-12,0.60,2,365,True
22,10962,"Lovely Room 2; Garden; Best area, Legal",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,88,4,180,2020-08-03,1.36,3,365,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46510,44798876,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67156,-73.91651,Private room,61,30,0,NaN,NaN,5,329,True
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,True
46518,44802224,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67302,-73.91695,Private room,61,30,0,NaN,NaN,5,363,True
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90,True
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38,True

In [50]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

condition_1 = df['neighbourhood_group'] == 'Brooklyn'
condition_2 = df['price'] < 100
df[condition_1 & condition_2]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,df_bk
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,True
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,True
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344,True
21,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,3,75,2019-10-12,0.60,2,365,True
22,10962,"Lovely Room 2; Garden; Best area, Legal",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,88,4,180,2020-08-03,1.36,3,365,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46510,44798876,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67156,-73.91651,Private room,61,30,0,NaN,NaN,5,329,True
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,True
46518,44802224,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67302,-73.91695,Private room,61,30,0,NaN,NaN,5,363,True
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90,True
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38,True

In [51]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.

HostNames = ['Michael', 'David', 'John', 'Daniel']
Con = df.host_name.isin(HostNames)
df[Con]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,df_bk
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,271,1,172,2020-07-14,1.44,1,365,True
201,61747,"Cozy, Brooklyn, Prospect Park Studio",299370,David,Brooklyn,Prospect-Lefferts Gardens,40.65979,-73.96180,Entire home/apt,91,14,97,2018-01-31,0.83,1,44,True
209,62903,Beautiful modern studio apartment in heart of NYC,306605,Daniel,Manhattan,Chelsea,40.74238,-73.99567,Entire home/apt,205,15,68,2019-12-14,0.67,2,89,False
220,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,NaN,NaN,1,0,False
260,74073,Food & Music Dream Apartment in Williamsburg,211877,Daniel,Brooklyn,Williamsburg,40.71113,-73.96054,Entire home/apt,187,30,90,2020-07-31,0.81,1,261,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46362,44639591,Central & Stylish 1 Bedroom Apt - Heart of Che...,286136716,John,Manhattan,Chelsea,40.74568,-73.99694,Entire home/apt,110,30,0,NaN,NaN,3,110,False
46396,44661297,Flushing Sunshine home #101,361579037,Daniel,Queens,Flushing,40.74603,-73.82837,Private room,52,1,0,NaN,NaN,2,360,False
46403,44662157,Flushing Sunshine home #102,361579037,Daniel,Queens,Flushing,40.74441,-73.82829,Private room,55,1,3,2020-08-16,3.00,2,365,False
46455,44697211,David’s Queen Sized Room,343477029,David,Queens,Far Rockaway,40.59460,-73.75875,Private room,95,1,0,NaN,NaN,1,365,False
46508,44797527,Long-Term: Furnished Apt in Nolita w/ Amenities,19448640,David,Manhattan,Nolita,40.72289,-73.99400,Entire home/apt,140,30,0,NaN,NaN,1,282,False

In [68]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

condition_1 = df['neighbourhood'] == 'Williamsburg' 
condition_2 = df['adjusted_price'] = df.price + 100
df[condition_1 & condition_2]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,df_bk,adjusted_price,is_in_williamsburg
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,True,209,100
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,True,399,100
35,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,131,3,95,2020-05-28,0.73,1,164,True,231,100
38,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,175,10,113,2020-01-24,0.87,1,165,True,275,100
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,271,1,172,2020-07-14,1.44,1,365,True,371,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46355,44633289,2020 Remodeled Brand New apartment in Williams...,334163301,Soya,Brooklyn,Williamsburg,40.70335,-73.94224,Private room,29,30,0,NaN,NaN,83,31,True,129,100
46364,44640377,HUGE BEDROOM WITH PRIVATE BATHROOM IN WILLIAMS...,64191321,Gg,Brooklyn,Williamsburg,40.71307,-73.93765,Private room,55,3,0,NaN,NaN,2,324,True,155,100
46375,44645950,Great 2BR available in South Williamsburg,305569545,Mike,Brooklyn,Williamsburg,40.70658,-73.96716,Entire home/apt,125,2,0,NaN,NaN,2,89,True,225,100
46468,44713810,"Huge furnished 2 bedroom, 1 block from Grand S...",9141890,Robert,Brooklyn,Williamsburg,40.71387,-73.93840,Entire home/apt,101,30,0,NaN,NaN,1,352,True,201,100
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,True,155,100

In [82]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

#a1 = df['room_type'] == 'Private room'
#a2 = df['room_type'] == 'Shared room'
#df[a1 | a2]
a1 = df.room_type.value_counts('Private room') / df.room_type.value_counts('Shared room').sum()
a1

Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: room_type, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [110]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
#df.neighbourhood_group.value_counts()
df.groupby('neighbourhood_group').count()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,df_bk,adjusted_price,is_in_williamsburg
neighbourhood_group,,,,,,,,,,,,,,,,,,
Bronx,1183,1181,1183,1183,1183,1183,1183,1183,1183,1183,1183,957,957,1183,1183,1183,1183,1183
Brooklyn,18632,18626,18632,18624,18632,18632,18632,18632,18632,18632,18632,14865,14865,18632,18632,18632,18632,18632
Manhattan,20580,20570,20580,20555,20580,20580,20580,20580,20580,20580,20580,15197,15197,20580,20580,20580,20580,20580
Queens,5791,5791,5791,5789,5791,5791,5791,5791,5791,5791,5791,4513,4513,5791,5791,5791,5791,5791
Staten Island,341,341,341,341,341,341,341,341,341,341,341,284,284,341,341,341,341,341

In [103]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

df.groupby('neighbourhood_group')['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [112]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [116]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.
groupCol = ['neighbourhood_group', 'room_type']
df.groupby(groupCol)['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [7]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

groupby_cols = ['neighbourhood_group', 'room_type']
df.groupby(groupby_cols)['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])

NameError: name 'df' is not defined

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [4]:
# 1. Load the `prices.csv` and the `n_listings.csv`
dfprices = pd.read_csv('data/prices.csv')

dflistings = pd.read_csv('data/n_listings.csv')

NameError: name 'pd' is not defined

In [5]:
# 2. Do join that keeps all the records for each table.

dfjoin = pd.merge(dfprices, dflistings, on='neighbourhood_group', how='outer')

NameError: name 'pd' is not defined

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [6]:
#  1. Who was won Album of the Year in 2016?
df = pd.read_csv('data\grammys.csv')

AYear = df['year'] == 2016
AYear2 = df['category'] == 'Album of the Year'
AYear3 = df['winner'] == True
df[AYear & AYear2 & AYear3]

NameError: name 'pd' is not defined

In [163]:
# 2. Who won Best Rap Album in 2009?
Rap= df['year'] == 2009
Rap2 = df['category'] == 'Best Rap Album'
Rap3 = df['winner'] == True
df[Rap & Rap2 & Rap3]

      year        category         nominee     workers  winner
4396  2009  Best Rap Album  Tha Carter III  Lil' Wayne    True

In [160]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

Win = df['workers'] == 'Kendrick Lamar'
Win2 = df['winner'] == True
df[Win & Win2]

      year              category               nominee         workers  winner
5448  2015  Best Rap Performance                    i.  Kendrick Lamar    True
5596  2016        Best Rap Album  To Pimp a Butterfly.  Kendrick Lamar    True
5599  2016  Best Rap Performance              Alright.  Kendrick Lamar    True
6003  2018  Best Rap Performance               HUMBLE.  Kendrick Lamar    True